{% extends 'blog/base.html' %}

{% block content %}
    <p>IF you wish to search the website in more detail, click on what category</p>
    <form>
  		<input type="radio" name="category" value="title" checked> Title<br>
  		<input type="radio" name="category" value="seller"> Seller<br>
  		<input type="radio" name="category" value="book_type"> Book_Type<br>
  		<input type="radio" name="category" value="academic_subject"> Academic_Subject
	</form> 

	<p>Then, type the keyword you wish to use and click submit</p>
    <form>
  			Title:<br>
  			<input type="text" name="firstname"><br>
  			<input type="submit" value="Submit">
	</form> 
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>Email address: {{ post.email|linebreaksbr }}</p>
	        <p>Academic Subject: {{ post.academic_subject|linebreaksbr }}</p>
	        <p>Published Year: {{ post.year|linebreaksbr }}</p>
	        <p>Price: ${{ post.price|linebreaksbr }}</p>
	        <p>Phone Number: {{ post.phone_number|linebreaksbr }}</p>
	        <p>Additional Comments:</p>
	        <p>{{ post.additional_comment|linebreaksbr }}</p>
	    </div>
    {% endfor %}
{% endblock %}
