{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if  post.email  == user.email %}
        	<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}

        <h1>{{ post.title }}</h1>
        <p>Seller username: {{ post.author|linebreaksbr }}</p>
        <p>User is: {{ user.get_username|linebreaksbr }}</p>
        {% if user.get_username == post.author %}
            <p>These are similar</p>
        {% endif %}
        <p>Email address: {{ post.email|linebreaksbr }}</p>
        <p>Academic Subject: {{ post.academic_subject|linebreaksbr }}</p>
        <p>Published Year: {{ post.year|linebreaksbr }}</p>
        <p>Price: ${{ post.price|linebreaksbr }}</p>
        <p>Phone Number: {{ post.phone_number|linebreaksbr }}</p>
        <p>Additional Comments:</p>
        <p>{{ post.additional_comment|linebreaksbr }}</p>
    </div>
{% endblock %}