{% extends 'blog/base.html' %}

{% block content %}
    <div class="title">
   		<h1>Welcome</h1>
    	<p>Welcome to our beta book sharing website.</p>
    	<p>Over here you can sell all of your old textbooks, as well as buy new ones you might need.</p>
    	<p>When you click on the books catalog you will see a huge array of used books. To see in more detail each book click on the name tag to go inot the details page.</p>
    	<p>If you want to buy a book, simply look through the books catalog for a book you want.</p>
    	<p>If find such a satisfactory book contact the seller through the various contact methods they have put out.</p>
    	<p>If you want to sell a book click on the big white plus sign on the top right of the screen.</p>
    	<p>Put in all the information that is required. You can edit your book details at anytime. </p>
    	<p>If someone buys your book, make sure to delete the book from the catalog by going into the books detail page.</p>
    	<p><a href="{% url 'post_list' %}">Books Catalog</a></p>
    </div>
{% endblock %}